:root {
    --about-us-part: #8FD3B5;
    --references-part : #6EB7A9;
    --packeges-part: #559A9B;
    --socials-part: #447E88;
  }

body{
    margin: 0px;
    box-sizing: border-box;
}


/*Belongs to the header*/

.header{
    position: fixed;
    top: -100px;
    left: 0px;
    width: 100%;
    z-index: 1;
    background-color: #3a3e46;
    color: aliceblue;
    display: flex;
    align-items: center;
    transition: all 0.75s ease;
    height: 100px;
    opacity: 0%;
    filter: blur(5px);
}

.headerOutOfView{
    top: 0px;
    filter: blur(0px);
    opacity: 100%;
}

.logoText{
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.headerOptions{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 20px;
    letter-spacing: 1px;
}

.headerOptions span{
    margin-left: 20px;
    font-family: sans-serif;
    cursor: pointer;
}


/*First content section*/

.firstContentSection{
    background-color: var(--about-us-part);
    height: 101vh;
}

/*Second content section*/
.secondContentSection{
    background-color: var(--references-part);
    height: 100vh;
}

/*Third content section*/
.thirdContentSection{
    background-color: var(--packeges-part);
    height: 100vh;
}

/*Fourth content section*/
.fourthContentSection{
    background-color: var(--socials-part);
    height: 100vh;
}